.padding{
	padding: 50px;
}

.paper-effect{
	box-shadow: 0 0 30px #000000;
}

.warning{
	color: red;
}

#logout_btn{
	position: fixed;
	right: 10px;
	top: 15px;
}

table, tr{
	width:100%;
}

td, th{
	text-align: center;
	width:20%;
}

#dismiss_button{
	position: relative;
	right: 1px;
}

